<html>
<head>
    <title>Админ Панель</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>Панель администратора</h1>
    <br>
    <form method="post" enctype="multipart/form-data">
        <br>
        <input type="submit" name="act" value="Удалить базу">
        <input type="submit" name="act" value="Создать базу">
        <br>
        <br>
        <input type="file" name="file">
        <input type="submit" name="act" value="Добавить файл">
    </form>
</body>
</html>