<html>
<head>
    <title>Armatura TEC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>Перейдите по нужной ссылке</h1>
    <!-- Перечень ссыло 1) Поиск арматуры
                        2) Блокировки
                        3) Стандартные операционные процедуры  -->
</body>
</html>