<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Armatura TEC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        body{
            background: url(foneSborka.jpg);
            color: darkblue;
        }
        header{    text-align: center;    }
        h1{  color: red;    }
        a{
            color: yellowgreen;
            float: right;
            text-align: right;
        }
        .main{
            text-align: center;
        }
        table{
            display: compact;
            margin: auto;
            color: black;
            background: darkkhaki;
        }
    </style>
</head>
<body>
      <header>
          <h1>Арматура КИП ТЕЦ-5</h1>
      </header>
     <div class="main">
      <div>
            <form method="post">
                <input type="text" name="inputString" autofocus min="2">
                <br>
                <br>
                <input type="submit" name="act" value="Арматура">
                <input type="submit" name="act" value="Сборка">
                <input type="submit" name="act" value="Блокировка">
            </form>
        </div>
        <br>
        <table cellpadding="5" border="2" text-align="center">
            <tr>
                <th>БИУ</th>
                <th>Название арматуры</th>
                <th>Сборка</th>
                <th>Шкаф</th>
                <th>Позиция</th>
                <th>Где ? находится</th>
                <th>Блокировка</th>
            </tr>
            {{#valves}}
            <tr>
                <td>{{biu}}</td>
                <td>{{name}}</td>
                <td>{{assembly}}</td>
                <td>{{locker}}</td>
                <td>{{position}}</td>
                <td>{{location}}</td>
            </tr>
            {{/valves}}
        </table>
     </div>
</body>
</html>